:root {
  /* --neon-color: rgb(17, 90, 226); */
  --body_w: 1920px;
  --body_h: 1080px;
}

body {
  margin: 0;
  width: var(--body_w);
  height: var(--body_h);
  color: white;
}

#container {
  height: 1040px;
  padding: 20px;
  overflow: auto;
}

#bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../resources/skyline.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#left-pane {
  float: left;
  width: 80%;
  height: 100%;
}

/* #left-pane>div {
  } */

#right-pane {
  float: left;
  width: 20%;
  height: 100%;
}

#right-pane > div {
  padding-left: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#gameplay {
  width: 100%;
  /* padding-bottom: 75%; */
  padding-bottom: 56.25%;
  /*16:9*/
  --neon-color: rgb(170, 9, 44);
  --neon-color-l: rgb(252, 103, 135);
  --neon-dur: 10s;
}

#chat {
  width: 100%;
  flex-grow: 1;
  --neon-color: rgb(63, 33, 235);
  --neon-color-l: rgb(155, 136, 248);
  --neon-dur: 5s;
}

#log {
  padding: 0 10px 10px;
}

#cam {
  width: 100%;
  margin-bottom: 30px;
  /* padding-bottom: 56.25%; */
  padding-bottom: 100%;
  /*1:1*/
  --neon-color: rgb(118, 8, 221);
  --neon-color-l: rgb(188, 121, 250);
  --neon-dur: 2s;
}

#nombre {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 60px;
  --neon-blur: 10px;
  --neon-color: rgb(8, 221, 8);
}
